# nvim file changes state will managed locally so we don't need to store it in git
home/.chezmoitemplates/nvim/state.json

home/.chezmoitemplases/AppData/Local/nvim
home/.chezmoitemplates/dot_config/nvim
